<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/dropdown.js"></script>
  <body>
    <div>
      <%data_order.forEach(row => {%>
        <table>
        <tr>Order</tr>
        <tr> <%=row.order%> </tr>
        <tr>Price</tr>
        <tr> <%=row.price%> </tr>
        <tr>Payee</tr>
        <tr><%=row.Payee%></tr>
        <tr><a href="/delete/<%=row.id%>"> Delete Order </a></tr>
        <tr><a href="/<%=row.id%>/addPayee"><a>
    </div>
        <%})%>
      </table>
      <form class="" action="/addOrderPayee/<%=data_order[0].id%>" method="post">
        <select class="" name="PayeeId">
          <% data_payee.forEach(row => { %>
          <option value="<%=row.id%>"><%=row.name%></option>
          <% }) %>
        </select>
        <button type="submit">Add Payee</button>
      </form>
  </body>
</html>
