<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/dropdown.js"></script>
  <body>
    <div style="margin-left: 20px">
      <br><br>
      <button><a href="/"> Back To Home </a></button><br><br>
      <%data_order.forEach(row => {%>
        <table style="margin-left: 20px">
        <tr>Order: </tr>
        <tr> <%=row.order%> </tr>
        <tr>Price</tr>
        <tr> <%=row.price%> </tr>
        <tr><%=row.Payee%></tr>
        <tr><a href="/delete/<%=row.id%>"> Delete Order </a></tr>
        <tr><a href="/<%=row.id%>/addPayee"><a>
    </div><br><br>
        <%})%>
      </table style="margin-left: 20px">
      <form class="" action="/addOrderPayee/<%=data_order[0].id%>" method="post">
        <select class="" name="PayeeId">
          <% data_payee.forEach(row => { %>
          <option value="<%=row.id%>"><%=row.name%></option>
          <% }) %>
        </select>
        <input type="text" name="Cost">
        <button type="submit">Add / Substract Bill</button><br><br>
        <p>Input positive value to add bill count of payee <br> Input Negative value to substract bill count of payee</p>
      </form>
  </body>
</html>
