<!DOCTYPE html>
<html>
    <%- include partial/head %>
  <body>
    <br>
    <button style="margin-left: 20px"><a href="/">Back To Home</a></button><br><br>
    <div style="margin-left: 20px">
      <table>
        <%data.forEach(row => {%>
        <form action="/<%=row.dataValues.totalPayment%>/sendMail/<%=row.dataValues.PayeeId%>">
        <tr>Total Cost: Rp   </tr>
        <tr> <%=row.dataValues.totalPayment%> </tr>
        <select name="payAmount" style="visibility: hidden">
            <option value="<%=row.dataValues.totalPayment%>">satu</option>
        </select>
        <tr>Payee:</tr>
        <tr> <%=row.PayeeId%> </tr>
        <select name="payeeId" style="visibility: hidden">
            <option value="<%=row.dataValues.PayeeId%>">satu</option>
        </select>
        <tr><a href="/showPayee/<%=row.dataValues.PayeeId%>" style="margin-right: 15px">Show Name</a></tr>
        <tr><input type="submit" value="Submit"></tr><br><br>
        </form>
        <%})%>
      </table>
    </div>
  </body>
</html>
