<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/dropdown.js"></script>
  <body>
    <br>
    <div>
      
        <table border="1">
        <tr>
          <th>Order</th>
          <th>Price</th>
          <th>Payee</th>
          <th>Options</th>
        </tr>
        <%data_order.forEach(row => {%>
        <tr>
        <td> <%=row.order%> </td>
        <td> <%=row.price%> </td>
        <td>
        <%for(var i = 0; i < row.Payees.length; i++) {%>
           Payee <%=i+1%>: <%=row.Payees[i].name%><br>
        <%}%>
      </td>
        <td>
        <a href="/<%=row.id%>/addPayee"> Add Payee</a> |
        <a href="editOrder/<%=row.id%>">Edit Order<a> |
        <a href="/delete/<%=row.id%>"> Delete Order </a>
        </td>
        </tr>
        <%})%>
        </table><br>
        
      <button><a href="/add">Add Order</a></button><br><br>
      <button><a href="/newPayee">Add a new payee</a></button><br><br>
      <button><a href="/payeeList">Show Payee Data</a></button><br><br>
      <button><a href="/billRundown">Spill</a></button><br><br>
      <button><a href="/logout">Log Out</a></button><br><br>
  </body>
</html>
