<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/dropdown.js"></script>
  <body>
    <a href="/add">Add Order</a>
    <div>
      <%data_order.forEach(row => {%>
        <table>
        <tr>Order</tr>
        <tr> <%=row.order%> </tr>
        <tr>Price</tr>
        <tr> <%=row.price%> </tr>
        <tr>Payee</tr>
        <%for(var i = 0; i < row.Payees.length; i++) {%>
          <tr> <%=row.Payees[i].name%></tr>
        <%}%>
        <tr><a href="/<%=row.id%>/addPayee"> Add Payee</a></tr>
        <tr><a href="editOrder/<%=row.id%>">Edit Order<a></tr>
        <tr><a href="/delete/<%=row.id%>"> Delete Order </a></tr>
          </div>
        <%})%>
      </table>
        <a href="/billRundown">Spill</a><br><br>
      <a href="/newPayee">Add a new payee</a><br><br>
      <a href="/payeeList">Show Payee Data</a><br><br>
      <button><a href="/sendMail">Send Email</a></button><br><br>
      <button><a href="/logout">Log Out</a></button><br><br>
      <a href="/billRundown">Spill</a>
  </body>
</html>
